*.zip filter=lfs diff=lfs merge=lfs -text

The Mobile Health External Development (MHED) Phase 4 is focused on the testing/fielding of simple and complex externally development mobile applications being released into the Department of Veterans Affairs Information Technology (IT) enterprise.
